{% extends "base.html" %}

{% block heading %}
  Tags
{% endblock %}

{% block add_task_button %}
  <a href="{% url 'notebook:create_tag' %}" class="btn btn-primary">Add</a>
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <body>
    {% for tag in tags %}
      <tr>
        <td>{{ tag.name }}</td>
        <td><a href="{% url 'notebook:tags-update' tag.pk %}" class="btn btn-primary" style="background-color: gray;">Update</a>
        </td>
        <td><a href="{% url 'notebook:tags-delete' tag.pk %}" class="btn btn-primary" style="background-color: gray;">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </body>
  </table>
{% endblock %}
